@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
}

nav{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color:
}

a{
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    text-decoration: underline;
}

button{
    padding: 15px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}